<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% users.forEach((user) => { %>
        <div style="border: solid 2 px black ; margin: 10px;">
            <p> name : <%= user.name %></p>
            <p> password :  <%= user.password %></p>
            <p> kerbors_id : <%= user.kerbors_id %></p>
            <p> posts : <%= user.posts.length %> </p>

            <a href="/delete/<%= user.kerbors_id %>">delete</a>
            <hr>
        </div>
    <% })%>
    
</body>
</html>